.contenedor {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	.linea {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
	}
}